.main {
  width: 100%;
  min-height: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  
  -webkit-width: 100%;
  -webkit-min-height: 100%;
  -webkit-display: flex;
  -webkit-position: relative;
  -webkit-justify-content: center;
  -webkit-align-items: center;
}

.bgImg {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  left: 0;
  top: 0;
  
  -webkit-height: 100%;
  -webkit-width: 100%;
  -webkit-position: absolute;
  -webkit-object-fit: cover;
  -webkit-left: 0;
  -webkit-top: 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  color: rgb(71, 63, 37);
  
  -webkit-display: flex;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-position: relative;
  -webkit-z-index: 1;
  -webkit-color: rgb(71, 63, 37);
  .galeries {
    display: grid;
    width: 350px;
    height: 100%;
    grid-template-areas:
      "photo0 photo2 photo2"
      "photo1 photo2 photo2"
      "photo3 photo3 photo4"
      "photo3 photo3 photo5";
    gap: 10px;
    
    -webkit-display: grid;
    -webkit-width: 350px;
    -webkit-height: 100%;
    -webkit-grid-template-areas:
      "photo0 photo2 photo2"
      "photo1 photo2 photo2"
      "photo3 photo3 photo4"
      "photo3 photo3 photo5";
      -webkit-gap: 10px;
    .photo {
      aspect-ratio: 1/1;
      background-color: #fff;
      border-radius: 10%;
      border: 3px solid #fff;
      overflow: hidden;
      position: relative;
      
      -webkit-aspect-ratio: 1/1;
      -webkit-background-color: #fff;
      -webkit-border-radius: 10%;
      -webkit-border: 3px solid #fff;
      -webkit-overflow: hidden;
      -webkit-position: relative;
      &.photo0 {
        grid-area: photo0;
        
        -webkit-grid-area: photo0;
      }
      &.photo1 {
        grid-area: photo1;
        
        -webkit-grid-area: photo1;
      }
      &.photo2 {
        grid-area: photo2;
        
        -webkit-grid-area: photo2;
      }
      &.photo3 {
        grid-area: photo3;
        
        -webkit-grid-area: photo3;
      }
      &.photo4 {
        grid-area: photo4;
        
        -webkit-grid-area: photo4;
      }
      &.photo5 {
        grid-area: photo5;
        
        -webkit-grid-area: photo5;
      }
      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        left: 0;
        top: 0;
        
        -webkit-width: 100%;
        -webkit-height: 100%;
        -webkit-object-fit: cover;
        -webkit-position: absolute;
        -webkit-left: 0;
        -webkit-top: 0;
      }
    }
  }
}
