.main {
  width: 100%;
  min-height: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.bgImg {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  left: 0;
  top: 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  color: rgb(71, 63, 37);
  .title {
    font-family: "Dancing Script", cursive;
    font-size: 30px;
    font-weight: 600;
    margin: 0;
  }
  .content {
    font-family: "Arima", system-ui;
    font-weight: 400;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.2;
    margin: 0;
    max-width: 250px;
    text-align: center;
    margin-top: 10px;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
  }
}

.card {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  text-align: end;
  margin-top: 30px;
}

.note {
  font-family: "Arima", system-ui;
  font-weight: 400;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  margin-top: 30px;
  text-align: center;
}
