.main {
  width: 100%;
  min-height: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.bgVideo {
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  color: #4f3726;
  .brideName {
    font-family: "Dancing Script", cursive;
    font-size: 40px;
    font-weight: 500;
    margin: 0;
    margin-top: 20px;
  }
  .content {
    font-family: "Arima", system-ui;
    font-weight: 400;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    max-width: 250px;
    text-align: center;
  }
}
