.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.loader-container {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  max-width: 451px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  -webkit-background-color: #000000;
  position: fixed;
  z-index: 100;
  .loader {
    font-size: 20px;
    font-weight: 500;
    color: #3b3b3b;
  }
}

.keen-slider-main {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  max-width: 451px;
}
