.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  -webkit-display: flex;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-position: relative;
}

.loader-container {
  height: 100%;
  height: calc(var(--vh, 1vh) * 100);
  max-width: 451px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee;
  position: fixed;
  z-index: 100;
  
  -webkit-height: 100%;
  -webkit-height: calc(var(--vh, 1vh) * 100);
  -webkit-max-width: 451px;
  -webkit-width: 100%;
  -webkit-display: flex;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  -webkit-background-color: #eeeeee;
  -webkit-position: fixed;
  -webkit-z-index: 100;
  .loader {
    font-size: 20px;
    font-weight: 500;
    color: #3b3b3b;
    text-align: center;

    -webkit-font-size: 20px;
    -webkit-font-weight: 500;
    -webkit-color: #3b3b3b;
  }
}

.keen-slider-main {
  height: 100%;
  height: calc(var(--vh, 1vh) * 100);
  max-width: 451px;

  -webkit-height: 100%;
  -webkit-height: calc(var(--vh, 1vh) * 100);
  -webkit-max-width: 451px;
}
